<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TactileButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10259DA01BD94E5300A7875D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10259DB41BD94E5300A7875D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10259DBF1BD94E5400A7875D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
